body {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
  padding: 0;
}

button {
  border-radius: 25px;
  padding-top: 3px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-desktop {
  display: none;
}

.navbar-mobile {
  display: inline-flex;
}

.nav-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    padding: 0px;
} 

.navbar-toggler-icon {
    color: white !important;
}

.bg-light {
    background-color: black !important;
}

.fa-bars  {
    color: white !important;
}

.nav-item a{
    color: white !important;
}

#ongoing-programs {
  color: black !important;
}

#upcoming-programs {
  color: black !important;
}

#past-programs {
  color: black !important;
}

#img-header-parsha-gems {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container-parsha-and-gallery {
  display:none;
}

#parsha {
  display: none;
}

.wrapper {
  background-color: ivory;
  margin-top: 50px;
}

#logo {
  max-width: 100%;
  width: 100%;
  margin-top: 35px;
}

.main-image-desktop{
  display: none;
}

#img-shabbat-dinner-desktop {
  width: 100%;
  max-width: 100%;
  border-radius: 25px;
  box-shadow: 3px 3px rgb(92, 91, 91);
}
    
#img-sukkot-desktop {
  width: 100%;
  max-width: 100%;
  border-radius: 25px;
  box-shadow: 3px 3px rgb(92, 91, 91);
}
  
#img-israel-desktop {
  width: 100%;
  max-width: 100%;
  border-radius: 25px;
  box-shadow: 3px 3px rgb(92, 91, 91);
}

/*styling images in image carousel*/
@media (min-width: 375px)  {
  #israel {
    height: 225px;
    margin-top: 0px;  
  }

  #shabbat-dinner {
    height: 210px;
  }

  #sukkot {
    height: 225px;
  }
}

@media (min-width: 411px)  {
  .img-fluid {
    height: 225px;
}

#shabbat-dinner {
  height: 225px;
  /*padding-bottom: 10px;*/
}
}

@font-face {
  font-family: piron;
  src: url(fonts/piron.otf);
}

#learn {
  font-family: piron;
  border-radius: 25px;
}  
  
#experience {
  font-family: piron;
  border-radius: 25px;
}

#grow {
  font-family: piron;
  border-radius: 25px;
}

#myCarousel {
    margin-top: 25px;
}

.text-center {
    padding-top: 15px;
}

.welcome-message-container {
  max-width: 100%;
  width: 100%;  
  text-align: center;
  background-color: rgb(224, 252, 208);
  background-color: white;
  margin-top: 50px;  
}

.welcome {
  display: inline-block;
  max-width: 100%;
  width: 90%;
  margin-top: 25px;
  padding: 10px;
  background: #99cc33 /* rgba(119, 5, 5, 0.7);
  color: black /* white*/;
  border-radius: 25px;
}

.welcome h5 {
  line-height: 1.7rem;
}


.welcome-message {
    display: inline-block;
    max-width: 100%;
    width: 90%;
    margin-top: 25px;
    padding: 10px;
    /*background: #3399ff /* rgba(119, 5, 5, 0.7);*/
    color: black /* white*/;
}

.welcome-message h5 {
    line-height: 1.7rem;
}

/*styling Our Mission*/
.mission-statement {
    background-color: rgb(230, 228, 228);
    max-width: 100%;
    width: 100%;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    margin-top: 55px;
    text-align: center;
}

#mission-statement-id {
max-width: 100%;
width: 91%;
text-shadow: 1.5px 1.5px grey; 
box-shadow: 5px 10px #888888;
background-color: #ff9933;
padding-left: 4px;
}

#mission-statement-id {
  max-width: 100%;
  width: 100%;
}
  

#img-mobile-main {
  max-width: 100%;
  width: 100%;
}

/*styling Juber program*/
.juber-statement {
  text-align: center;
  margin-top: 55px;
}

#juber-statement-id {
  max-width: 100%;
  width: 70%;
  font-size: 1.5rem;
  text-shadow: 1.5px 1.5px grey; 
  box-shadow: 5px 10px #888888;
  background-color: #ff9933;
  padding-left: 4px;
  margin: 0 auto;
  }

/*styling paypal button*/
.paypal {
  margin-top: 50px;
  text-align: center;
}

/*styling contact form*/
.contact-form-box-container {
  background-color: rgb(240, 184, 82);
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 30px;
}

#rabbi-contact {
text-align: center;
}

#rabbi-name {
text-shadow: 1.5px 1.5px rgb(189, 188, 188);  
}

.form-box {
  margin-top: 25px;
}

#submit-button {
  border-radius: 25px;
} 

#torah-scroll {
    display: inline-block;
    max-width: 100%;
    width: 15%;
}

.form-box {
    text-align: center;
}

footer {
  text-align: center;
  padding: 5px 0px;
  background-color: black;
  color: white;
}
/*end styling main body*/

@media (min-width: 1200px)  {

  .logo-section {
    background-color: rgb(68, 68, 68);
    margin-top: 0px !important;
  }

  #logo {
    max-width: 100%;
    width: 15%;
    display: block;
    margin: 0 auto;
  }

  /*styling navbar*/
  
  .navbar {
    background-color: #e0efc0 !important;
  }
   
  #flame-mobile {
    display: none;
  }

  .navbar-mobile {
    display: none !important; /*why do I need important here? Isn't that bad code?*/
  }
  
  .navbar-desktop {
    display: inline-flex !important; /*why do I need important here? Isn't that bad code?*/
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
   
  /*what Jenny helped me with*/
  .navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
 
  .nav-item li{
    justify-content: space-between;
  }
  
  .bg-light {
    background-color: black !important;
  }
  
  .fa-bars  {
    color: white !important;
  }
  
  .navbar-toggler-icon {
    color: white !important;
  }
  
  .nav-item a{
    color: white !important;
  }
  
  .nav-container {
      /*margin-top: 25px;*/
      text-align: center;
  }
    
  #flame-mobile {
    display: inline-block;
  }
  
  .nav-container {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      width: 100%;
      padding: 0px;
  }
  
  .nav-item {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .header-image {
    max-width: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
    /*position: relative;*/
    /*top: -50px;*/
  }

  #img-header-parsha-gems {
    width: 70%;
    height: 100%;
  }

  .wrapper-logo-carousel {
    background-color: rgb(1, 14, 1);
    /*background-color: rgb(26, 25, 25);*/
  }
           
  #parsha {
      text-align: center;
      background-color: rgb(4, 4, 199);
      color: white;
      padding-top: 25px;
      padding-bottom: 20px;
      margin-top: 50px !important;
  }

  #parsha h5 {
    letter-spacing: 1.6px !important;
    font-size: 1.2rem !important;
  }
       
  #ongoing-programs {
    color: black !important;
  }
  
  #upcoming-programs {
    color: black !important;
  }
  
  #past-programs {
    color: black !important;
  }
  
  /*styling main body*/
  
  .main-image-desktop {
    display: inline-flex;
    max-width: 100%;
    width: 100%;
    background-color: rgb(17, 17, 90);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0px !important;
  }

  .col-sm-3 {
    display: block;
    margin: 0 auto;
  }
/*contains gallery and blue parsha box*/
  .container-parsha-and-gallery {
    display: inline-block;
    /*position: relative;*/
    /*top: -50px;*/
}

  .row {
    max-width: 100%;
    width: 100%;
  }
  
  #img-shabbat-dinner-desktop {
    width: 100%;
    max-width: 100%;
  }
      
  #img-sukkot-desktop {
    width: 100%;
    max-width: 100%;
  }
    
  #img-israel-desktop {
    width: 100%;
    max-width: 100%;
  }
    
  #israel {
      margin-top: 25px;
      max-width: 100%;
      width: 100%;
  }
  

  .first-separator {
    display: none;
  }

  .main-changeable-content {
    margin-top: 50px;
  }


  .welcome-message-container {
    width: 50%;  
    background-color: rgb(230, 228, 228);
    display: block;
    margin: 0 auto;
  }

  #welcome-message-container-id {
    margin-top: 50px;
  }
  
  .first-separator {
    width: 50%;
    border: 1px solid black;
    margin-top: 50px;
  }
  
  .welcome {
    display: inline-block;
    max-width: 100%;
    width: 90%;
    margin-top: 25px;
    padding: 10px;
    background: #99cc33 /* rgba(119, 5, 5, 0.7);
    color: black /* white*/;
    border-radius: 25px;
  }
  
  .welcome h5 {
    line-height: 1.7rem;
  }
  
  
  .welcome-message {
      display: inline-block;
      max-width: 100%;
      width: 90%;
      margin-top: 25px;
      padding: 10px;
      /*background: #3399ff /* rgba(119, 5, 5, 0.7);*/
      color: black /* white*/;
  }
  
  .welcome-message h5 {
      line-height: 1.7rem;
  }
  
  h5 {
      letter-spacing: -1px;
  }
  
 
  /*styling carousel*/
  /*controls image height*/
  .img-fluid {
      height: 185px;
  }
  
  /*styling individual images-the first one was too elongated*/
  #shabbat-dinner {
    height: 175px;
    /*padding-bottom: 10px;*/
  }
  
  .carousel-item {
    padding-bottom: 25px;
  }

/*styling static gallery*/
#static-gallery-desktop {
  display: inline-flex;
  max-width: 100%;
  width: 90%;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  
}

#experience-gallery-desktop-image {
  text-align: center;
}

.card-title {
  display: block;
  width: 100%;
}

#myCarousel {
  display: none;
}

#mobile-main-image {
  max-width: 100%;
  width: 100%;
}

.wrapper-parsha-and-special-links {
  position: relative;
  top: 0px;
  text-align: center;
}

.parsha-flex {
  display: block;
  max-width: 100%;
  width: 80%;
}

.wrapper-special-links {
  margin-top: 25px;
  display: block;
  margin: 0 auto;
}

#links {
  display: inline-block;
}

#visit-aish {
  /*box-shadow: 5px 10px #2e198a;*/
}

/*start styling forms*/
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box;
  
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
  }
  
  textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
  
    /* To give enough room to type some text */
    height: 5em;
  }
  
  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
  /*end styling forms*/
}


@media (min-width: 768px) and (max-width:1023px) {

.navbar-desktop {
  display: none;
} 
}

@media (min-width: 1024px) {
  .navbar-desktop {
    display: block;
} 

.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
}

@media (min-width: 768px) {

.navbar-desktop {
  display: none;
}

.navbar-mobile {
  display: inline-flex;
  justify-content: space-around;
}
 
.logo-section {
  background-color: rgb(68, 68, 68);
  margin-top: 50px;
  padding-top: 35px; 
  padding-bottom: 25px;
}

#logo {
  max-width: 100%;
  width: 15%;
  display: block;
  margin: 0 auto;
}

/*contains gallery and blue parsha box*/
.container-parsha-and-gallery {
  display: block;
}

#parsha {
  text-align: center;
  background-color: rgb(4, 4, 199);
  color: white;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-top: 0px;
}

#parsha h5 {
letter-spacing: 1px;
font-size: .8rem;
}

.main-image-desktop {
  max-width: 100%;
  width: 100%;
  background-color: rgb(17, 17, 90);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0px !important;
  display: inline-flex;
  justify-content: space-around;
  margin-top: 50px;
}




.wrapper-logo-carousel {
  display: none;
}

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
  











  
    






